<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingApplicationLog">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed collapsable" data-toggle="collapse" data-target="#collapseApplicationLog" aria-expanded="false" aria-controls="collapseApplicationLog">
          Application Log
        </button>
      </h5>
    </div>
    <div id="collapseApplicationLog" class="collapse" aria-labelledby="headingApplicationLog" data-parent="#accordion">
      <div class="card-body">

        <div class="container">
          <h5>Application Log</h5>
          <div id="app_log" class="col-12 border border-info" style="height:360px; overflow: scroll;">
            <!--log info will be written here-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>