{% extends "base_layout.html" %}

  {% block content %}

  <!-- Video and Detection Log ROW   -->
  <div class="row" style="height:3vh"></div>
  <div class="row mt-5 px-1 border border-info" style="height:400px;">

    <!-- TOP LEFT BLOCK -->
    <div class="container col-xs-12 col-s-12 col-6  align-self-center">
      {% include "includes/video_window.html" %}
    </div>
    <!-- END TOP RIGHT BLOCK -->

    <!-- TOP RIGHT BLOCK -->
    <div class="container col-xs-12 col-s-12 col-6  align-self-center">
      {% include "includes/detection_log.html" %}
    </div>
    <!-- END TOP RIGHT BLOCK -->

  </div> <!-- Video and Detection Log ROW -->

  <!-- ROW  -->
  <div class="container">
      <h5>Video Controls</h5>
      <div class="row">
        <div class="col align-self-end">

          <a href="{{ url_for('toggle_stream') }}">
            <button type="button" id="btn_toggle_stream" class="btn btn-success">Stop</button>
          </a>

          <a href="{{ url_for('change_delay', direction='decrease') }}">
            <button type="button" id="btn_decrease" class="btn btn-success"> - </button>
          </a>

          <a href="{{ url_for('change_delay', direction='increase') }}">
            <button type="button" id="btn_increase" class="btn btn-success"> + </button>
          </a>

        </div>
      </div>
  </div>
  <!-- END ROW -->

  <div class="container col-xs-12 col-s-12 col-6  align-self-center">
    {% include "includes/monitoring_logging.html" %}
  </div>

  <div class="container col-xs-12 col-s-12 col-6  align-self-center">
    {% include "includes/applog.html" %}
  </div>

  {% endblock %}